h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
}

#about {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
}
