body {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
}

#name {
    color: gray;
    font-size: 100px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 0%;
}

#contacts {
    align-items: center;
    padding: 0 10px;
    text-decoration: none;
}

#nav {
    left: 0px;
    background-color: whitesmoke;
    text-align: center;
    margin-top: 50px;
}

#nav ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

#nav ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}

#nav ul li a {
    text-decoration: none;
    font-size: 30px;
    color: lightcoral;
    padding: 0 20px;
    text-align: center;
}

#nav ul li a:hover {
    color: red;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    top: 100%;
    left: 0%;
    margin-left: -130px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#info {
    font-size: 20px;
    text-align: left;
    padding: 0 20px;
}

.work {
    font-size: 20px;
    text-align: left;
    padding: 0 20px;
    text-decoration: none;
}

#w_name { color:violet;}