body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: powderblue;
}

h1 {
    text-align: center;
}

p1 {
    text-align: left;
}

p2 {
    text-align: left;
    text-decoration: underline;
}