body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
}

#name {
    color: gray;
    font-size: 100px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 0%;
}

#contacts {
    text-align: center;
    padding: 0 20px;
    text-decoration: none;
}

nav {
    width: 100%;
    height: 100px;
}

ul {

}

ul li {
    list-style: none;
    display: inline-block;
    text-align: center;
}

ul li a {
    text-decoration: none;
    font-size: 25px;
    color: green;
    padding: 0 20px;
}

ul li a:hover {
    color: red;
}

#info {
    font-size: 20px;
    text-align: left;
}

#about {
    font-size: 20px;
    text-align: left;
}