body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

a {
    text-align: center;
}

h1 {
    text-align: center;
}

p1 {
    text-align: left;
}

p2 {
    text-align: left;
    text-decoration: underline;
}