body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
}

#name {
    color: gray;
    font-size: 100px;
    text-align: center;
}

#contacts {
    margin: 10px 0;
    text-align: center;
}

nav {
    width: 100%;
    height: 50px;
}

ul {
    margin-left: 50px;
    margin-top: 0%;
}

ul li {
    list-style: none;
    display: inline-block;
    float: left;
}

ul li a {
    text-decoration: none;
    font-size: 25px;
    color: green;
    padding: 0 20px;
}

ul li a:hover {
    color: red;
}

#info {
    font-size: 20px;
    text-align: left;
}

#about {
    font-size: 20px;
    text-align: left;
}