body {
    font-family: sans-serif;
}
h1 {
    text-align: center;
}

#info {
    font-size: 20px;
    text-align: center;
}

#about {
    font-size: 20px;
    text-align: left;
}

#or {
    color: orange;
}

#bl {
    color : blue;
}