body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 20px;
    text-align: center;
}

p1 {
    font-size: 20px;
    width: 100%;
    text-align: center;
}

p2 {
    margin-top: 100px;
    font-size: 20px;
    text-align: left;
}

p4 {
    font-size: 20px;
    text-align: left;
}

p3 {
    font-size: 20px;
    text-align: left;
}
